<html>
  <head>
    <title>Event Name Error</title>
  </head>
  <body>
    <h1>Whoopsididdles! - An Error Occurred</h1>
    <p>
      No events match the name of your parameter.  Please click <a href="/sources/<%= @identifier %>/events">here</a> to view all available events.
    <p>
  </body>
</html>
