<html>
  <head>
    <title>Account Error</title>
  </head>
  <body>
    <h1>Womp Womp - An Error Occurred</h1>
    <p>
      There are no events associated with your account.
    <p>
  </body>
</html>