<html>
  <head>
    <title>Account Error</title>
  </head>
  <body>
    <h1>Womp Womp - An Error Occurred</h1>
    <img src="http://farm3.staticflickr.com/2494/3960967793_b8018a1c6d_b.jpg">
    <p>
      The account identifier you entered does not exist.  Please try again.
    </p>
  </body>
</html>