<html>
  <head>
    <title>Payload Input</title>
  </head>
  <body>
    <form action="/sources" method="post">  
      <p>
        Input payload
  <input type="text" name="message">  
  <input type="submit">  
    </form>
  </body>
</html>
